go 1.24

use (
	./pkg
	./services/auth
	./services/content
	./services/gateway
	./services/interaction
	./services/media
	./services/messages
	./services/notification
	./services/recommendation
	./services/search
	./services/user
)
